---
layout: layouts/base
title: Главная
page:
  url: /
eleventyExcludeFromCollections: true
image: 'test.png'
imageAlt: 'image alt'
sizes: '(min-width: 30em) 50vw, 100vw'
---

{% include 'intro.njk' %}
{% include 'about.njk' %}
{% include 'stats.njk' %}

